.button {
  background: var(--dark);
  color: var(--light);
  width: auto;
  outline: none;
  border: none;
  -webkit-appearance: none;
  font-family: 'Share Tech Mono', monospace;
  font-weight: bold;
  font-size: 1.25rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 0.25rem;
  cursor: pointer;
}