.clock {
  position: absolute;
  top: 120px;
  height: 380px;
  width: 380px;
  z-index: -1;
}

.clock svg {
  position: absolute;
  fill: none;
  overflow: visible;
  opacity: 0.7;
}

.clock svg .svg-bg {
  /* fill: var(--light); */
  stroke: var(--light);
  stroke-width: 4px;
  
}

.clock svg .svg-fg {
  fill: var(--clock);
  stroke: var(--light);
  stroke-width: 2px;
}