.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 200px;
  width: 600px;
  border: 1px solid var(--light);
  margin: 20px;
}

.controls .buttons,
.controls .config {
  flex: 1;
}

.controls .buttons {
  position: absolute;
  top: -15px;
  right: 0;
}

.controls .buttons button {
  border: 1px solid var(--light);
  border-radius: 5px;
  margin: 0 20px;
  padding: 5px 10px;
}

.controls .config input {
  font-size: 25px;
  text-align: center;
  height: 50px;
  width: 50px;
  margin: 5px 40px;
}

.controls .config label {
  font-size: 0.9rem;
}