.nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--light);
  width: 100%;
  padding: 0 10px;
  margin-bottom: 20px;
}

.nav .container > * {
  margin: 0.25rem 0.25rem 0 0.25rem;
}
