@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Share+Tech+Mono&display=swap');

:root {
  --light: hsl(220, 20%, 80%);
  --dark: hsl(220, 20%, 20%);
  --red: hsl(10, 85%, 70%);
  --green: hsl(90, 85%, 70%);
  --yellow: hsl(50, 85%, 70%);
  --orange: hsl(20, 85%, 70%); /* #ec5b13 */
  --clock: hsl(220, 25%, 40%);

  /* --gradient: linear-gradient(10deg, #ffaa00, #ff6a00); */
  /* --gradient2: linear-gradient(15deg, #04ea00, #00d17d); */
  /* --gradient3: linear-gradient(15deg, #b648ff, #ef5dff); */
}

* {
  box-sizing: border-box;
}

body {
  background: var(--dark);
  color: var(--light);
  font-family: 'Share Tech Mono', monospace;
  /* font-family: 'Roboto Slab', serif; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: clamp(300px, 100vw, 1000px);
}

.container {
  width: clamp(300px, 100vw, 1000px);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col {
  flex-direction: column;
}

.red {
  color: var(--red);
}

.green {
  color: var(--green);
}

.yellow {
  color: var(--yellow);
}

.orange {
  color: var(--orange);
}